:host{
    height: 50vh;
    border-collapse: collapse;
    display: flex;
    flex-flow: column;
}

.map {
    background-color: antiquewhite;
    border: solid 1px grey;
    padding: 5px;
    flex: 1 1 auto;
    
    /*Child items*/
    display: flex;
    align-items: stretch;
    
    app-room {
        flex-grow: 1;
    }
}

.timeline {
    max-height: 5rem;
    border: solid 1px grey;
    border-top: 0;
    flex: 0 1 auto;
    padding: 5px;
}

.border {
    border: solid 1px grey;
    background-color: antiquewhite;
}