<div class="map">
    <app-room class="location-door" roomTitle="Door" [queue]="buildingQueue()" [useStation]="false" />
    <app-room class="location-registerdesk" roomTitle="Register Desk" [queue]="registerDeskQueue()" [station]="registerDesk()" [numOfStations]="numberOfRegisterDesks" />
    <app-room class="location-votingbooth" roomTitle="Voting Booth" [queue]="votingBoothQueue()" [station]="votingBooth()" [numOfStations]="numberOfVotingBooths" />
    <app-room class="location-ballotbox" roomTitle="Ballot Box" [queue]="ballotBoxQueue()" [station]="ballotBox()" [numOfStations]="numberOfBallotBoxes" />
    <app-room class="location-exit" roomTitle="Exit" [queue]="exitQueue()" [useStation]="false" />
</div>
<app-timeline class="timeline" />
<!-- <pre style="height: 800px; overflow: scroll;">
    {{simulation() | json}}
</pre> -->