/* You can add global styles to this file, and also import other style files */
$person-size: 15px;


.person {
    width: $person-size;
    height: $person-size;
    border: solid 2px black;
    margin: 2px;
    border-radius: $person-size;
}